# <u>DATA RETRIEVAL</u>

In [1]:
import pandas as pd

### Setting file name

In [2]:
file_name = 'U1S1.TXT'

### Read file contents and setting up the pandas dataframe

In [3]:
df = pd.read_csv(file_name, delimiter=' ', names=['X', 'Y', 'TS', 'T', 'AZ', 'AL', 'P'], header=None, skiprows=1)
df.head()

      X     Y        TS  T    AZ   AL    P
0  2933  5678  31275775  0  1550  710  439
1  2933  5678  31275785  1  1480  770  420
2  3001  5851  31275795  1  1350  830  433
3  3114  6139  31275805  1  1350  800  422
4  3217  6198  31275815  1  1350  800  415

In [4]:
rows, columns = df.shape

In [5]:
# for iterating through each rows

# for index, row in df.iterrows():
#     print(index, row['X'])

## ATTRIBUTES CALCULATION
### VELOCITY

##### DISTANCE CALCULATION

In [6]:
distance = 0

In [7]:
for i in range(rows-1):
    distance += ((df['X'][i] - df['X'][i+1])**2 + (df['Y'][i] - df['Y'][i+1])**2)**0.5

distance

26910.561423398147

##### TIME CALCULATION

In [8]:
time = float((df['TS'][-1:] - df['TS'][0]) / 1000)
print(time)

1.212

##### VELOCITY CALCULATION

In [9]:
velocity = distance/time

print(velocity)

22203.433517655238