# NumPy Introduction

In [1]:
import numpy as np

In [2]:
mylist = [1, 2, 3, 4, 5, 6]
x = np.array(mylist)

In [3]:
x

array([1, 2, 3, 4, 5, 6])

In [4]:
mylist = [3, 4, 5, 6, 7, 8]
y = np.array(mylist)
y

array([3, 4, 5, 6, 7, 8])

In [5]:
z = np.array([[1, 2, 3, 4, 5, 6], [4, 5, 6, 4, 5, 6]])
print(z)

[[1 2 3 4 5 6]
 [4 5 6 4 5 6]]

In [6]:
np.shape(z)

(2, 6)

In [7]:
a = np.arange(0, 1000, 10)
a

array([  0,  10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120,
       130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250,
       260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380,
       390, 400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510,
       520, 530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640,
       650, 660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770,
       780, 790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900,
       910, 920, 930, 940, 950, 960, 970, 980, 990])

In [8]:
a = a.reshape(25, 4)

In [9]:
a

array([[  0,  10,  20,  30],
       [ 40,  50,  60,  70],
       [ 80,  90, 100, 110],
       [120, 130, 140, 150],
       [160, 170, 180, 190],
       [200, 210, 220, 230],
       [240, 250, 260, 270],
       [280, 290, 300, 310],
       [320, 330, 340, 350],
       [360, 370, 380, 390],
       [400, 410, 420, 430],
       [440, 450, 460, 470],
       [480, 490, 500, 510],
       [520, 530, 540, 550],
       [560, 570, 580, 590],
       [600, 610, 620, 630],
       [640, 650, 660, 670],
       [680, 690, 700, 710],
       [720, 730, 740, 750],
       [760, 770, 780, 790],
       [800, 810, 820, 830],
       [840, 850, 860, 870],
       [880, 890, 900, 910],
       [920, 930, 940, 950],
       [960, 970, 980, 990]])

In [10]:
o = np.linspace(0, 999, 100)
o

array([  0.        ,  10.09090909,  20.18181818,  30.27272727,
        40.36363636,  50.45454545,  60.54545455,  70.63636364,
        80.72727273,  90.81818182, 100.90909091, 111.        ,
       121.09090909, 131.18181818, 141.27272727, 151.36363636,
       161.45454545, 171.54545455, 181.63636364, 191.72727273,
       201.81818182, 211.90909091, 222.        , 232.09090909,
       242.18181818, 252.27272727, 262.36363636, 272.45454545,
       282.54545455, 292.63636364, 302.72727273, 312.81818182,
       322.90909091, 333.        , 343.09090909, 353.18181818,
       363.27272727, 373.36363636, 383.45454545, 393.54545455,
       403.63636364, 413.72727273, 423.81818182, 433.90909091,
       444.        , 454.09090909, 464.18181818, 474.27272727,
       484.36363636, 494.45454545, 504.54545455, 514.63636364,
       524.72727273, 534.81818182, 544.90909091, 555.        ,
       565.09090909, 575.18181818, 585.27272727, 595.36363636,
       605.45454545, 615.54545455, 625.63636364, 635.72727273,
       645.81818182, 655.90909091, 666.        , 676.09090909,
       686.18181818, 696.27272727, 706.36363636, 716.45454545,
       726.54545455, 736.63636364, 746.72727273, 756.81818182,
       766.90909091, 777.        , 787.09090909, 797.18181818,
       807.27272727, 817.36363636, 827.45454545, 837.54545455,
       847.63636364, 857.72727273, 867.81818182, 877.90909091,
       888.        , 898.09090909, 908.18181818, 918.27272727,
       928.36363636, 938.45454545, 948.54545455, 958.63636364,
       968.72727273, 978.81818182, 988.90909091, 999.        ])

In [11]:
np.shape(o)

(100,)

In [12]:
o.resize(10, 10)

In [13]:
o

array([[  0.        ,  10.09090909,  20.18181818,  30.27272727,
         40.36363636,  50.45454545,  60.54545455,  70.63636364,
         80.72727273,  90.81818182],
       [100.90909091, 111.        , 121.09090909, 131.18181818,
        141.27272727, 151.36363636, 161.45454545, 171.54545455,
        181.63636364, 191.72727273],
       [201.81818182, 211.90909091, 222.        , 232.09090909,
        242.18181818, 252.27272727, 262.36363636, 272.45454545,
        282.54545455, 292.63636364],
       [302.72727273, 312.81818182, 322.90909091, 333.        ,
        343.09090909, 353.18181818, 363.27272727, 373.36363636,
        383.45454545, 393.54545455],
       [403.63636364, 413.72727273, 423.81818182, 433.90909091,
        444.        , 454.09090909, 464.18181818, 474.27272727,
        484.36363636, 494.45454545],
       [504.54545455, 514.63636364, 524.72727273, 534.81818182,
        544.90909091, 555.        , 565.09090909, 575.18181818,
        585.27272727, 595.36363636],
       [605.45454545, 615.54545455, 625.63636364, 635.72727273,
        645.81818182, 655.90909091, 666.        , 676.09090909,
        686.18181818, 696.27272727],
       [706.36363636, 716.45454545, 726.54545455, 736.63636364,
        746.72727273, 756.81818182, 766.90909091, 777.        ,
        787.09090909, 797.18181818],
       [807.27272727, 817.36363636, 827.45454545, 837.54545455,
        847.63636364, 857.72727273, 867.81818182, 877.90909091,
        888.        , 898.09090909],
       [908.18181818, 918.27272727, 928.36363636, 938.45454545,
        948.54545455, 958.63636364, 968.72727273, 978.81818182,
        988.90909091, 999.        ]])

In [14]:
np.ones((2, 3))

array([[1., 1., 1.],
       [1., 1., 1.]])

# Pandas

In [15]:
import pandas as pd

In [16]:
pd.Series?

In [17]:
animals = ['Tiger', 'Lion', 'Bear', 'Chimpanzee']

In [18]:
pd.Series(animals)

0         Tiger
1          Lion
2          Bear
3    Chimpanzee
dtype: object

In [19]:
numbers = [1, 2, 3, 4, 5]
pd.Series(numbers)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [20]:
np.nan == None

False

In [21]:
np.isnan(np.nan)

True

# READING MULTIPLE FILES INTO ONE DATAFRAME

In [36]:
import pandas as dd

df = dd.read_csv('U*.TXT', delimiter=' ', names=['X', 'Y', 'TS', 'T', 'AZ', 'AL', 'P'], header=None, skiprows=1)

FileNotFoundError: [Errno 2] File b'U*.TXT' does not exist: b'U*.TXT'

In [35]:
print(df.tail(180))

        X     Y        TS  T    AZ   AL    P
121  5747  4077  17614284  1  1360  550  405
122  5802  3975  17614294  1  1380  550  443
123  5847  3855  17614304  1  1390  550  477
124  5862  3705  17614314  1  1390  550  501
125  5862  3546  17614324  1  1390  550  513
126  5830  3380  17614334  1  1390  550  515
127  5767  3168  17614344  1  1390  550  515
128  5682  2991  17614354  1  1390  550  499
129  5608  2837  17614364  1  1390  550  404
130  5559  2743  17614374  1  1380  550   56
131  5490  3069  17614454  0  1360  560  279
132  5569  3052  17614464  1  1360  560  337
133  5589  3044  17614474  1  1350  550  343
134  5599  3038  17614484  1  1350  550  387
135  5663  3014  17614494  1  1350  550  448
136  5760  2981  17614504  1  1350  550  519
137  5879  2927  17614514  1  1350  550  586
138  6023  2867  17614524  1  1350  550  611
139  6224  2790  17614534  1  1350  550  619
140  6464  2704  17614544  1  1350  550  563
141  6745  2636  17614554  1  1350  570  329
142  6962  4864  17614935  0  1380  510  407
143  6929  4787  17614945  1  1370  520  441
144  6946  4837  17614955  1  1370  520  431
145  6974  4898  17614965  1  1390  520  433
146  7111  4967  17614975  1  1390  520  405
147  7307  5109  17614985  1  1390  520  389
148  7542  5246  17614995  1  1390  520  388
149  7744  5373  17615005  1  1390  520  398
150  7907  5454  17615015  1  1390  520  392
..    ...   ...       ... ..   ...  ...  ...
271  7970  2880  17616506  1  1390  600  413
272  7986  2801  17616516  1  1390  600  335
273  7991  2721  17616526  1  1390  600  228
274  7991  2641  17616536  1  1390  600   95
275  7966  2559  17616546  1  1390  600   65
276  7923  2472  17616556  1  1390  600   90
277  7867  2383  17616566  1  1390  600  208
278  7809  2316  17616576  1  1390  600  345
279  7752  2280  17616586  1  1390  600  466
280  7728  2266  17616596  1  1390  600  517
281  7728  2274  17616606  1  1380  590  546
282  7754  2326  17616616  1  1380  590  572
283  7852  2407  17616626  1  1380  590  591
284  7996  2514  17616636  1  1380  590  608
285  8141  2628  17616646  1  1380  590  603
286  8292  2747  17616656  1  1380  590  594
287  8446  2850  17616666  1  1380  590  559
288  8555  2930  17616676  1  1380  590  491
289  8634  2996  17616686  1  1380  590  339
290  8575  3281  17616788  0  1390  600  241
291  8643  3269  17616798  1  1390  600  392
292  8643  3269  17616808  1  1390  600  444
293  8665  3274  17616818  1  1410  590  509
294  8698  3255  17616828  1  1390  600  584
295  8743  3221  17616838  1  1390  600  637
296  8789  3147  17616848  1  1390  600  669
297  8832  3043  17616858  1  1390  600  679
298  8873  2919  17616868  1  1390  600  666
299  8920  2812  17616878  1  1410  600  592
300  8968  2754  17616888  1  1410  600  178

[180 rows x 7 columns]