In [1]:
import pandas as pd
import numpy as np

In [2]:
file_name = 'U1S1.TXT'

In [3]:
list_df = []
np.array(list_df)
list_size = []
np.array(list_size)

array([], dtype=float64)

## COMBINING ALL THE FILES INTO ONE LIST

In [4]:
count = 0
for i in range(1,41):
    for j in range(1, 41):
        file_name = 'U'+str(i)+'S'+str(j)+'.txt'
                
        # Reading into a dataframe and appending it to a list
        df = pd.read_csv(file_name, delimiter=' ', names=['X', 'Y', 'TS', 'T', 'AZ', 'AL', 'P'], header=None, skiprows=1)
        list_df.append(df)
        
        # Creating list_size of storing number of rows in each file
        rows, cols = df.shape
        list_size.append(rows)

## CONVERTING INTO A LARGE DATAFRAME

##### ARRAY FORMAT

In [5]:
df_array = np.vstack(list_df)

##### CREATING A DATAFRAME

In [11]:
final_dataset = pd.DataFrame(df_array)
final_dataset.columns = ['X', 'Y', 'TS', 'T', 'AZ', 'AL', 'P']
final_dataset.head()

      X     Y        TS  T    AZ   AL    P
0  2933  5678  31275775  0  1550  710  439
1  2933  5678  31275785  1  1480  770  420
2  3001  5851  31275795  1  1350  830  433
3  3114  6139  31275805  1  1350  800  422
4  3217  6198  31275815  1  1350  800  415

## ATTRIBUTES CALCULATION
### VELOCITY

##### DISTANCE CALCULATION

In [ ]:
distance = 0
index = 0

for n in list_size:
    for i in range(n):