In [1]:
import pandas as pd
import numpy as np

In [2]:
file_name = 'U1S1.TXT'

In [3]:
list_df = []
np.array(list_df)
list_size = []
np.array(list_size)

array([], dtype=float64)

## COMBINING ALL THE FILES INTO ONE LIST

In [4]:
count = 0
for i in range(1,41):
    for j in range(1, 41):
        file_name = 'U'+str(i)+'S'+str(j)+'.txt'
                
        # Reading into a dataframe and appending it to a list
        df = pd.read_csv(file_name, delimiter=' ', names=['X', 'Y', 'TS', 'T', 'AZ', 'AL', 'P'], header=None, skiprows=1)
        list_df.append(df)
        
        # Creating list_size of storing number of rows in each file
        rows, cols = df.shape
        list_size.append(rows)

## CONVERTING INTO A LARGE DATAFRAME

##### ARRAY FORMAT

In [5]:
df_array = np.vstack(list_df)

##### CREATING A DATAFRAME

In [6]:
final_dataset = pd.DataFrame(df_array)
final_dataset.columns = ['X', 'Y', 'TS', 'T', 'AZ', 'AL', 'P']
final_dataset.head()

      X     Y        TS  T    AZ   AL    P
0  2933  5678  31275775  0  1550  710  439
1  2933  5678  31275785  1  1480  770  420
2  3001  5851  31275795  1  1350  830  433
3  3114  6139  31275805  1  1350  800  422
4  3217  6198  31275815  1  1350  800  415

## ATTRIBUTES CALCULATION
### VELOCITY, X_VELOCITY, Y_VELOCITY

In [7]:
velocity_array = []
x_velocity_array = []
y_velocity_array = []

In [8]:
distance = 0
index = 0
count = 0
x_distance = 0
y_distance = 0

In [9]:
for x in list_size:
    for i in range(x):
        j = i-1
        if j >= 0:
            distance += ((final_dataset['X'][count+j] - final_dataset['X'][count+i])**2 + (final_dataset['Y'][count+j] - final_dataset['Y'][count+i])**2)**0.5
            
            x_distance += abs(final_dataset['X'][count+j] - final_dataset['X'][count+i])
            
            y_distance += abs(final_dataset['Y'][count+j] - final_dataset['Y'][count+i])
            
            time = final_dataset['TS'][count+x-1] - final_dataset['TS'][count]
    count += x
    
    # velocity calculation
    velocity_array.append(float(distance*1000/time))
    
    # x_velocity calculation
    x_velocity_array.append(float(x_distance*1000/time))
    
    # y_velocity calculation
    y_velocity_array.append(float(y_distance*1000/time))

In [10]:
print('velocity:', velocity_array[:5])

velocity: [22203.433517655238, 45506.23864695702, 67509.40805412106, 94336.82501540291, 105252.32186288224]

In [11]:
print('x_velocity:', x_velocity_array[:5])

x_velocity: [11205.445544554455, 22890.939597315435, 34357.36925515055, 48131.44758735441, 54040.680473372784]

In [12]:
print('y_velocity:', y_velocity_array[:5])

y_velocity: [16169.14191419142, 33190.43624161074, 48832.01267828843, 67917.63727121464, 75746.30177514793]