# NumPy Introduction

In [1]:
import numpy as np

In [2]:
mylist = [1, 2, 3, 4, 5, 6]
x = np.array(mylist)

In [3]:
x

array([1, 2, 3, 4, 5, 6])

In [4]:
mylist = [3, 4, 5, 6, 7, 8]
y = np.array(mylist)
y

array([3, 4, 5, 6, 7, 8])

In [5]:
z = np.array([[1, 2, 3, 4, 5, 6], [4, 5, 6, 4, 5, 6]])
print(z)

[[1 2 3 4 5 6]
 [4 5 6 4 5 6]]

In [6]:
np.shape(z)

(2, 6)

In [7]:
a = np.arange(0, 1000, 10)
a

array([  0,  10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120,
       130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250,
       260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380,
       390, 400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510,
       520, 530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640,
       650, 660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770,
       780, 790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900,
       910, 920, 930, 940, 950, 960, 970, 980, 990])

In [8]:
a = a.reshape(25, 4)

In [9]:
a

array([[  0,  10,  20,  30],
       [ 40,  50,  60,  70],
       [ 80,  90, 100, 110],
       [120, 130, 140, 150],
       [160, 170, 180, 190],
       [200, 210, 220, 230],
       [240, 250, 260, 270],
       [280, 290, 300, 310],
       [320, 330, 340, 350],
       [360, 370, 380, 390],
       [400, 410, 420, 430],
       [440, 450, 460, 470],
       [480, 490, 500, 510],
       [520, 530, 540, 550],
       [560, 570, 580, 590],
       [600, 610, 620, 630],
       [640, 650, 660, 670],
       [680, 690, 700, 710],
       [720, 730, 740, 750],
       [760, 770, 780, 790],
       [800, 810, 820, 830],
       [840, 850, 860, 870],
       [880, 890, 900, 910],
       [920, 930, 940, 950],
       [960, 970, 980, 990]])

In [10]:
o = np.linspace(0, 999, 100)
o

array([  0.        ,  10.09090909,  20.18181818,  30.27272727,
        40.36363636,  50.45454545,  60.54545455,  70.63636364,
        80.72727273,  90.81818182, 100.90909091, 111.        ,
       121.09090909, 131.18181818, 141.27272727, 151.36363636,
       161.45454545, 171.54545455, 181.63636364, 191.72727273,
       201.81818182, 211.90909091, 222.        , 232.09090909,
       242.18181818, 252.27272727, 262.36363636, 272.45454545,
       282.54545455, 292.63636364, 302.72727273, 312.81818182,
       322.90909091, 333.        , 343.09090909, 353.18181818,
       363.27272727, 373.36363636, 383.45454545, 393.54545455,
       403.63636364, 413.72727273, 423.81818182, 433.90909091,
       444.        , 454.09090909, 464.18181818, 474.27272727,
       484.36363636, 494.45454545, 504.54545455, 514.63636364,
       524.72727273, 534.81818182, 544.90909091, 555.        ,
       565.09090909, 575.18181818, 585.27272727, 595.36363636,
       605.45454545, 615.54545455, 625.63636364, 635.72727273,
       645.81818182, 655.90909091, 666.        , 676.09090909,
       686.18181818, 696.27272727, 706.36363636, 716.45454545,
       726.54545455, 736.63636364, 746.72727273, 756.81818182,
       766.90909091, 777.        , 787.09090909, 797.18181818,
       807.27272727, 817.36363636, 827.45454545, 837.54545455,
       847.63636364, 857.72727273, 867.81818182, 877.90909091,
       888.        , 898.09090909, 908.18181818, 918.27272727,
       928.36363636, 938.45454545, 948.54545455, 958.63636364,
       968.72727273, 978.81818182, 988.90909091, 999.        ])

In [11]:
np.shape(o)

(100,)

In [12]:
o.resize(10, 10)

In [13]:
o

array([[  0.        ,  10.09090909,  20.18181818,  30.27272727,
         40.36363636,  50.45454545,  60.54545455,  70.63636364,
         80.72727273,  90.81818182],
       [100.90909091, 111.        , 121.09090909, 131.18181818,
        141.27272727, 151.36363636, 161.45454545, 171.54545455,
        181.63636364, 191.72727273],
       [201.81818182, 211.90909091, 222.        , 232.09090909,
        242.18181818, 252.27272727, 262.36363636, 272.45454545,
        282.54545455, 292.63636364],
       [302.72727273, 312.81818182, 322.90909091, 333.        ,
        343.09090909, 353.18181818, 363.27272727, 373.36363636,
        383.45454545, 393.54545455],
       [403.63636364, 413.72727273, 423.81818182, 433.90909091,
        444.        , 454.09090909, 464.18181818, 474.27272727,
        484.36363636, 494.45454545],
       [504.54545455, 514.63636364, 524.72727273, 534.81818182,
        544.90909091, 555.        , 565.09090909, 575.18181818,
        585.27272727, 595.36363636],
       [605.45454545, 615.54545455, 625.63636364, 635.72727273,
        645.81818182, 655.90909091, 666.        , 676.09090909,
        686.18181818, 696.27272727],
       [706.36363636, 716.45454545, 726.54545455, 736.63636364,
        746.72727273, 756.81818182, 766.90909091, 777.        ,
        787.09090909, 797.18181818],
       [807.27272727, 817.36363636, 827.45454545, 837.54545455,
        847.63636364, 857.72727273, 867.81818182, 877.90909091,
        888.        , 898.09090909],
       [908.18181818, 918.27272727, 928.36363636, 938.45454545,
        948.54545455, 958.63636364, 968.72727273, 978.81818182,
        988.90909091, 999.        ]])

In [14]:
np.ones((2, 3))

array([[1., 1., 1.],
       [1., 1., 1.]])

# Pandas

In [15]:
import pandas as pd

In [16]:
pd.Series?

In [17]:
animals = ['Tiger', 'Lion', 'Bear', 'Chimpanzee']

In [18]:
pd.Series(animals)

0         Tiger
1          Lion
2          Bear
3    Chimpanzee
dtype: object

In [19]:
numbers = [1, 2, 3, 4, 5]
pd.Series(numbers)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [20]:
np.nan == None

False

In [21]:
np.isnan(np.nan)

True